.sidebar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.sidebar::-webkit-scrollbar { 
    display: none;
}

:focus {
    outline: none;
}

.dt-info{
    margin-left: 10px;
    color: gray;
}

.ag-theme-quartz, .ag-theme-quartz-dark {
   --ag-font-family: 'Nunito Sans';
   --ag-grid-size: 5px;
   --ag-list-item-height: 20px;
   --ag-header-background-color: #3C50E0;
   --ag-header-foreground-color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 5px; /* You can adjust the width */
}

::-webkit-scrollbar-thumb {
    background-color: #F1F5F9; /* Color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #F1F5F9; /* Color of the thumb on hover */
}

/* For horizontal scrollbar */
::-webkit-scrollbar-track {
    background-color: #F1F5F9; /* Color of the track */
}