{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akamai Information System Solution</title>
    <link rel="stylesheet" href="{% static 'css/myapp.output.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body class="font-inter scrollbar-thin scrollbar-track-slate-500 relative bg-gray-200">
    <div class="flex h-screen flex-col">
        {% include "./navbar.html" %}
        {% include "./sidebar.html" %}
    </div>
    <script src="{% static 'js/akamai.main.js' %}"></script>
</body>
</html>