{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akamai Information System Solution</title>
    <link rel="stylesheet" href="{% static 'css/akamai.main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body class="font-inter scrollbar-thin scrollbar-track-slate-500 bg-gray-200">
    {% include './sidebar.html' %}
    <main class="main-content w-[calc(100% - 256px)] ml-64">
        {% include './navbar.html' %}
        {% block content %}{% endblock content %}
    </main>
    <script src="{% static 'js/akamai.main.js' %}"></script>
</body>
</html>