{% extends 'includes/base.html' %}
{% block subtitle %}Pro Tbale{% endblock subtitle %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community@31.0.3/styles/ag-grid.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community@31.0.3/styles/ag-theme-quartz.css" />
{% endblock css %}

{% block content %}
<div class="px-9 pt-10 w-full h-full">
    <h1 class="text-lg pb-3 font-semibold text-slate-800">
        <a href="https://datatables.net/" target="_blank">AG Grid | Pro Table</a>
    </h1>
    <div class="rounded-t-md w-full h-auto pb-4 overflow-x-auto">
        <div id="pro1table" class="ag-theme-quartz w-auto" style="height: 800px"></div>
    </div>

    <div class="rounded-t-md w-full h-auto pb-4 overflow-x-auto">
        <div id="pro2table" class="ag-theme-quartz w-auto" style="height: 800px"></div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/ag-grid-enterprise@31.0.3/dist/ag-grid-enterprise.min.js"></script>
<script>
    function onBtExport() {
        gridApi.exportDataAsExcel();
    }

    const colDefs = [
            { field: "employee", minWidth: 170, checkboxSelection: true, filter: 'agSetColumnFilter'},
            { field: "department"},
            { field: "salary"},
            { field: "status"},
            { field: "address"},
            { field: "zipcode"},
            { field: "start date"},
    ];

    const gridOptions1 = {
        rowData: null,
        columnDefs: colDefs,
        sideBar: true,
        suppressMenuHide: true,
        localeText: {
            searchOoo: 'Search values...',
            noMatches: 'No matches could be found.',
        },
        defaultColDef: {
            editable: true,
            filter: true,
        },
        pagination: true,
        paginationPageSize: 50,
        rowSelection: 'multiple',
        suppressRowClickSelection: true,
        cacheQuickFilter: true,
        applyMiniFilterWhileTyping: true,
    };

    const gridOptions2 = {
        rowData: null,
        columnDefs: colDefs,
        sideBar: false,
        suppressMenuHide: true,
        localeText: {
            searchOoo: 'Search values...',
            noMatches: 'No matches could be found.',
        },
        defaultColDef: {
            editable: true,
            filter: true,
        },
        pagination: true,
        paginationPageSize: 50,
        rowSelection: 'multiple',
        suppressRowClickSelection: true,
    };

    document.addEventListener('DOMContentLoaded', function () {
        const pro1tablegrid = document.querySelector('#pro1table');
        const pro2tablegrid = document.querySelector('#pro2table');

        var gridApi1 = agGrid.createGrid(pro1tablegrid, gridOptions1);

        var gridApi2 = agGrid.createGrid(pro2tablegrid, gridOptions2);

        fetch('{% static "js/data.json" %}')
            .then((response) => response.json())
            .then((data) => gridApi1.setGridOption('rowData', data)
        );

        fetch('{% static "js/data.json" %}')
            .then((response) => response.json())
            .then((data) => gridApi2.setGridOption('rowData', data)
        );
    });

</script>
{% endblock script %}