{% extends 'includes/base.html' %}
{% block subtitle %}Buttons{% endblock subtitle %}

{% block content %}
<div class="px-9 pt-10 w-full h-full">
    <h1 class="text-lg pb-3 font-semibold text-slate-800">
        <a href="#" target="_blank" class="text-gray-500 text-xl">Buttons</a>
    </h1>

    <div class="grid grid-cols-2 gap-4">
        <div class="bg-white w-full h-auto px-4 py-4">
            <h1 class="text-gray-500">Basic Button</h1>
            <span class="text-gray-400">Default Bootstrap buttons style.</span>

            <div class="grid grid-cols-3 gap-4 mt-2">
                <button class="bg-primary text-white p-2 rounded hover:bg-primary/90 transition ease-in duration-150">Primary</button>
                <button class="bg-secondary text-white p-2 rounded hover:bg-secondary/90 transition ease-in duration-150">Secondary</button>
                <button class="bg-success text-white p-2 rounded hover:bg-success/90 transition ease-in duration-150">Success</button>
                <button class="bg-warning text-white p-2 rounded hover:bg-warning/90 transition ease-in duration-150">Danger</button>
                <button class="bg-warning text-white p-2 rounded hover:bg-warning/90 transition ease-in duration-150">Warning</button>
                <button class="bg-info text-gray-500 p-2 rounded hover:bg-info/90 transition ease-in duration-150">Info</button>
            </div>
        </div>
        <div class="bg-white w-full h-auto px-4 py-4">
            <h1 class="text-gray-500">Rounded Button</h1>
            <span class="text-gray-400">Rounded Bootstrap buttons.</span>

            <div class="grid grid-cols-3 gap-4 mt-2">
                <button class="bg-primary text-white p-2 rounded-full hover:bg-primary/90 transition ease-in duration-150">Primary</button>
                <button class="bg-secondary text-white p-2 rounded-full hover:bg-secondary/90 transition ease-in duration-150">Secondary</button>
                <button class="bg-success text-white p-2 rounded-full hover:bg-success/90 transition ease-in duration-150">Success</button>
                <button class="bg-warning text-white p-2 rounded-full hover:bg-warning/90 transition ease-in duration-150">Danger</button>
                <button class="bg-warning text-white p-2 rounded-full hover:bg-warning/90 transition ease-in duration-150">Warning</button>
                <button class="bg-info text-gray-500 p-2 rounded-full hover:bg-info/90 transition ease-in duration-150">Info</button>
            </div>
        </div>
        <div class="bg-white w-full h-auto px-4 py-4">
            <h1 class="text-gray-500">Outline Button</h1>
            <span class="text-gray-400">Buttons without background color.</span>
            <div class="grid grid-cols-3 gap-4 mt-2">
                <button class="outline outline-primary text-primary p-2 rounded hover:bg-primary/90 hover:text-white transition ease-in duration-150">Primary</button>
                <button class="outline outline-secondary text-secondary p-2 rounded hover:bg-secondary/90 hover:text-white transition ease-in duration-150">Secondary</button>
                <button class="outline outline-success text-success p-2 rounded hover:bg-success/90 hover:text-white transition ease-in duration-150">Success</button>
                <button class="outline outline-warning text-warning p-2 rounded hover:bg-warning/90 hover:text-white transition ease-in duration-150">Danger</button>
                <button class="outline outline-warning text-warning p-2 rounded hover:bg-warning/90 hover:text-white transition ease-in duration-150">Warning</button>
                <button class="outline outline-info text-info p-2 rounded hover:bg-info/90 hover:text-gray-500 transition ease-in duration-150">Info</button>
            </div>
        </div>
        <div class="bg-white w-full h-auto px-4 py-4">
            <h1 class="text-gray-500">Square Button</h1>
            <span class="text-gray-400">Buttons without border radius.</span>
            <div class="grid grid-cols-3 gap-4 mt-2">
                <button class="bg-primary text-white p-2 hover:bg-primary/90 transition ease-in duration-150">Primary</button>
                <button class="bg-secondary text-white p-2 hover:bg-secondary/90 transition ease-in duration-150">Secondary</button>
                <button class="bg-success text-white p-2 hover:bg-success/90 transition ease-in duration-150">Success</button>
                <button class="bg-warning text-white p-2 hover:bg-warning/90 transition ease-in duration-150">Danger</button>
                <button class="bg-warning text-white p-2 hover:bg-warning/90 transition ease-in duration-150">Warning</button>
                <button class="bg-info text-gray-500 p-2 hover:bg-info/90 transition ease-in duration-150">Info</button>
            </div>
        </div>
        <div class="bg-white w-full h-auto px-4 py-4">
            <h1 class="text-gray-500">Icon Button</h1>
            <span class="text-gray-400">Default Bootstrap buttons with icons.</span>
            <div class="grid grid-cols-3 gap-4 mt-2">
                <button class="bg-primary text-white p-2 flex item-center justify-center gap-4 rounded hover:bg-primary/90 transition ease-in duration-150">
                    <i class="ri-user-smile-line"></i>
                    <span>Primary</span>
                </button>
                <button class="bg-secondary text-white p-2 flex item-center justify-center gap-4 rounded hover:bg-secondary/90 transition ease-in duration-150">
                    <i class="ri-global-line"></i>
                    <span>Secondary</span>
                </button>
                <button class="bg-success text-white p-2 flex item-center justify-center gap-4 rounded hover:bg-success/90 transition ease-in duration-150">
                    <i class="ri-check-line"></i>
                    <span>Success</span>
                </button>
                <button class="bg-warning text-white p-2 flex item-center justify-center gap-4 rounded hover:bg-warning/90 transition ease-in duration-150">
                    <i class="ri-close-line"></i>
                    <span>Danger</span>
                </button>
                <button class="bg-warning text-white p-2 flex item-center justify-center gap-4 rounded hover:bg-warning/90 transition ease-in duration-150">
                    <i class="ri-error-warning-line"></i>
                    <span>Warning</span>    
                </button>
                <button class="bg-info text-gray-500 p-2 flex item-center justify-center gap-4 rounded hover:bg-info/90 transition ease-in duration-150">
                    <i class="ri-information-line"></i>
                    <span>Info</span>
                </button>
            </div>

            <div class="grid grid-cols-3 gap-4 mt-2">
                <button class="bg-primary text-white p-2 flex item-center justify-center gap-4 rounded hover:bg-primary/90 transition ease-in duration-150">
                    <i class="ri-user-smile-line"></i>
                </button>
                <button class="bg-secondary text-white p-2 flex item-center justify-center gap-4 rounded hover:bg-secondary/90 transition ease-in duration-150">
                    <i class="ri-global-line"></i>
                </button>
                <button class="bg-success text-white p-2 flex item-center justify-center gap-4 rounded hover:bg-success/90 transition ease-in duration-150">
                    <i class="ri-check-line"></i>
                </button>
                <button class="bg-warning text-white p-2 flex item-center justify-center gap-4 rounded hover:bg-warning/90 transition ease-in duration-150">
                    <i class="ri-close-line"></i>
                </button>
                <button class="bg-warning text-white p-2 flex item-center justify-center gap-4 rounded hover:bg-warning/90 transition ease-in duration-150">
                    <i class="ri-error-warning-line"></i>
                </button>
                <button class="bg-info text-gray-500 p-2 flex item-center justify-center gap-4 rounded hover:bg-info/90 transition ease-in duration-150">
                    <i class="ri-information-line"></i>
                </button>
            </div>
        </div>
        <div class="bg-white w-full h-auto px-4 py-4">
            <h1 class="text-gray-500">Social Button</h1>
            <span class="text-gray-400">Social buttons with icons.</span>

            <div class="grid grid-cols-3 gap-4 mt-2">
                <button class="bg-primary text-white p-2 rounded flex items-center justify-center gap-4 hover:bg-primary/90 transition ease-in duration-150">
                    <i class="ri-twitter-x-fill"></i>
                    <span>Twitter</span>
                </button>
                <button class="bg-secondary text-white p-2 rounded flex items-center justify-center gap-4 hover:bg-secondary/90 transition ease-in duration-150">
                    <i class="ri-instagram-line"></i>
                    <span>Instagram</span>
                </button>
                <button class="bg-success text-white p-2 rounded flex items-center justify-center gap-4 hover:bg-success/90 transition ease-in duration-150">
                    <i class="ri-facebook-box-line"></i>
                    <span>Facebook</span>
                </button>
                <button class="bg-warning text-white p-2 rounded flex items-center justify-center gap-4 hover:bg-warning/90 transition ease-in duration-150">
                    <i class="ri-google-fill"></i>
                    <span>Google</span>
                </button>
                <button class="bg-warning text-white p-2 rounded flex items-center justify-center gap-4 hover:bg-warning/90 transition ease-in duration-150">
                    <i class="ri-github-fill"></i>
                    <span>Github</span>
                </button>
                <button class="bg-info text-gray-500 p-2 rounded flex items-center justify-center gap-4 hover:bg-info/90 transition ease-in duration-150">
                    <i class="ri-youtube-fill"></i>
                    <span>Youtube</span>
                </button>
            </div>

            <div class="grid grid-cols-3 gap-4 mt-2">
                <button class="bg-primary text-white p-2 rounded flex items-center justify-center gap-4 hover:bg-primary/90 transition ease-in duration-150">
                    <i class="ri-twitter-x-fill"></i>
                </button>
                <button class="bg-secondary text-white p-2 rounded flex items-center justify-center gap-4 hover:bg-secondary/90 transition ease-in duration-150">
                    <i class="ri-instagram-line"></i>
                </button>
                <button class="bg-success text-white p-2 rounded flex items-center justify-center gap-4 hover:bg-success/90 transition ease-in duration-150">
                    <i class="ri-facebook-box-line"></i>
                </button>
                <button class="bg-warning text-white p-2 rounded flex items-center justify-center gap-4 hover:bg-warning/90 transition ease-in duration-150">
                    <i class="ri-google-fill"></i>
                </button>
                <button class="bg-warning text-white p-2 rounded flex items-center justify-center gap-4 hover:bg-warning/90 transition ease-in duration-150">
                    <i class="ri-github-fill"></i>
                </button>
                <button class="bg-info text-gray-500 p-2 rounded flex items-center justify-center gap-4 hover:bg-info/90 transition ease-in duration-150">
                    <i class="ri-youtube-fill"></i>
                </button>
            </div>


        </div>
    </div>
</div>
{% endblock content %}