{% extends "includes/base.html" %}

{% block content %}
    <div class="px-9 pt-10 w-full h-full">
        <h1 class="text-lg pb-3 font-semibold text-slate-800">E-commerce</h1>
        <div class="grid grid-flow-col grid-cols-4 gap-4 mb-3">
            <div class="flex flex-col bg-white shadow-sm px-4 py-4">
                <a href="#" class="bg-gray-100 rounded-sm h-12 w-12 flex justify-center items-center">
                    <i class="bi bi-currency-dollar text-slate-800 text-lg"></i>
                </a>
                <h4 class="font-semibold text-2xl pt-5 text-gray-700">$ 500,000</h4>
                <div class="flex justify-between align-middle">
                    <span class="text-sm text-gray-400">Total Income</span>
                    <div class="flex justify-between items-center align-middle text-green-500">
                        <span class="">0.43%</span>
                        <i class="ri-arrow-up-line"></i>
                    </div>
                </div>
            </div>
            <div class="flex flex-col bg-white shadow-sm px-4 py-4">
                <a href="#" class="bg-gray-100 rounded-sm w-12 h-12 flex items-center justify-center">
                    <i class="bi bi-wallet text-2xl align-middle text-slate-800"></i>
                </a>
                <h4 class="font-semibold text-2xl pt-5 text-gray-700">$ 100,000</h4>
                <div class="flex justify-between items-center align-middle">
                    <span class="text-sm text-gray-400">Total Profit</span>
                    <div class="flex justify-between align-middle text-green-500">
                        <span class="">0.43%</span>
                        <i class="ri-arrow-up-line"></i>
                    </div>
                </div>
            </div>
            <div class="bg-white flex flex-col shadow-sm px-4 py-4">
                <a href="#" class="bg-gray-100 rounded-sm w-12 h-12 flex items-center justify-center">
                    <i class="bi bi-box-seam text-2xl align-middle text-slate-800"></i>
                </a>
                <h4 class="font-semibold text-2xl pt-5 text-gray-700">$ 70,000</h4>
                <div class="flex justify-between items-center align-middle">
                    <span class="text-sm text-gray-400">Package Delivered</span>
                    <div class="flex justify-between items-center align-middle text-green-500">
                        <span class="">0.43%</span>
                        <i class="ri-arrow-up-line"></i>
                    </div>
                </div>
            </div>
            <div class="flex flex-col bg-white shadow-sm py-4 px-4">
                <a href="#" class="bg-gray-100 rounded-sm h-12 w-12 flex justify-center items-center">
                    <i class="bi bi-people text-slate-800 text-lg"></i>
                </a>
                <h4 class="font-semibold text-2xl pt-5 text-gray-700">34,000</h4>
                <div class="flex justify-between items-center align-middle">
                    <span class="text-sm text-gray-400">Total Active Users</span>
                    <div class="flex justify-between items-center align-middle text-green-500">
                        <span class="">0.43%</span>
                        <i class="ri-arrow-up-line"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-flow-col grid-cols-4 gap-4 mb-3">
            <div class="flex flex-col bg-white shadow-sm py-4 px-4">
                <a href="#" class="bg-gray-100 rounded-sm h-12 w-12 flex justify-center items-center">
                    <i class="bi bi-bag-dash text-slate-800 text-lg"></i>
                </a>
                <h4 class="font-semibold text-2xl pt-5 text-gray-700">10,000</h4>
                <div class="flex justify-between align-middle">
                    <span class="text-sm text-gray-400">Total Product</span>
                    <div class="flex justify-between items-center align-middle text-green-500">
                        <span class="">0.43%</span>
                        <i class="ri-arrow-up-line"></i>
                    </div>
                </div>
            </div>
            <div class="flex flex-col bg-white shadow-sm py-4 px-4">
                <a href="#" class="bg-gray-100 rounded-sm w-12 h-12 flex items-center justify-center">
                    <i class="bi bi-bank text-2xl align-middle text-slate-800"></i>
                </a>
                <h4 class="font-semibold text-2xl pt-5 text-gray-700">$ 1,000,000</h4>
                <div class="flex justify-between items-center align-middle">
                    <span class="text-sm text-gray-400">Bank Balance</span>
                    <div class="flex justify-between align-middle text-green-500">
                        <span class="">0.43%</span>
                        <i class="ri-arrow-up-line"></i>
                    </div>
                </div>
            </div>
            <div class="bg-white flex flex-col shadow-sm py-4 px-4">
                <a href="#" class="bg-gray-100 rounded-sm w-12 h-12 flex items-center justify-center">
                    <i class="bi bi-box-seam text-2xl align-middle text-slate-800"></i>
                </a>
                <h4 class="font-semibold text-2xl pt-5 text-gray-700">1,000</h4>
                <div class="flex justify-between items-center align-middle">
                    <span class="text-sm text-gray-400">Total Pending Orders</span>
                    <div class="flex justify-between items-center align-middle text-green-500">
                        <span class="">0.43%</span>
                        <i class="ri-arrow-up-line"></i>
                    </div>
                </div>
            </div>
            <div class="flex flex-col bg-white shadow-sm py-4 px-4">
                <a href="#" class="bg-gray-100 rounded-sm h-12 w-12 flex justify-center items-center">
                    <i class="bi bi-person-dash text-slate-800 text-2xl"></i>
                </a>
                <h4 class="font-semibold text-2xl pt-5 text-gray-700">2,000</h4>
                <div class="flex justify-between items-center align-middle">
                    <span class="text-sm text-gray-400">Total Inactive Users</span>
                    <div class="flex justify-between items-center align-middle text-green-500">
                        <span class="">0.43%</span>
                        <i class="ri-arrow-up-line"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="bg-white w-full h-auto mb-3 px-4 py-4">
            <div id="yearlyPerformanceTracking"></div>
        </div>

        <div class="bg-white w-full h-10 mb-3">

        </div>

        <div class="grid grid-flow-col grid-cols-3 gap-4 mb-3">
            <div class="bg-white w-full h-10">

            </div>
            <div class="bg-white w-full h-10">
    
            </div>
            <div class="bg-white w-full h-10">

            </div>
        </div>

        <div class="bg-white w-full h-10">

        </div>
    </div>
{% endblock content %}